<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h4> Contul a fost blocat!</br>
            Pentru deblocare va rog sa luati legatura cu administratorului site-ului!
        </h4>
        <hr />
        <a class="btn btn-outline-success" asp-action="Login"> 
            Inapoi la autentificare
        </a>
    </div>

</div>