html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.table {
    border-collapse: collapse;
    margin-top:35px;
}

.table thead {
    display: block;
}

.table tbody {
    display: block;
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}
