@model string;

<div style="position:fixed; right:25px;bottom:100px;">
    <a class="btn btn-success text-white" asp-controller="@Model" asp-action="Create">
        <i class="bi bi-plus-circle"></i>
            Adauga
    </a>
</div>
