@using eAchizitii.Data.ViewModels
@model AdresaLivrareVM

@{

    ViewData["Title"] = "Stergere adresa livrare";

}

<div class="row text">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Stergere adresa de livrare</h4>
        </p>
    </div>

    <div class="col-md-6 offset-3"> 
        <form asp-action="ConfirmaStergere">
            <div asp-validation-summary="ModelOnly"></div>
            
            <div class="form-group">
                <label>Sucursala <b>@ViewBag.Sucursala</b></label>
            </div>

            <div class="form-group" style="padding:5px;">
                <label asp-for="Adresa" class="control-label"></label>
                <input asp-for="Adresa" class="form-control" readonly/>
                <span asp-validation-for="Adresa" class="text-danger"></span>
            </div>

            <div class="form-group" style="padding:5px;">
                <input type="hidden" asp-for="Id" />
                <input type="submit"  value = "Confirma" class="btn btn-outline-success float-end" />
                <a class="btn btn-outline-secondary" asp-action="Index">
                    Inapoi
                </a>
            </div>
        </form>
    </div>
</div>
